# ROS 2 build stuff
build/
build_*/
install/
log/

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]

# ROS bag files
*.bag
*.db3
*.mcap
rosbag2_*/

# Logs
*.log

# Graphviz
*.gv

# Plots
*.png

# CSV logs
*.csv

# Research papers / generated PDFs
*.pdf

# Custom test bash files
*.bash

# Generated robot files
*.sdf

#Move folder in src is for real robot (W.I.P)
src/move/
