<?xml version="1.0" encoding="utf-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="camera_cube">

  <!-- Base Link (Physical Cube) -->
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0.25" rpy="0 0 0"/>
      <mass value="5.0"/>
      <inertia ixx="0.208" ixy="0.0" ixz="0.0" iyy="0.208" iyz="0.0" izz="0.208"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0.25" rpy="0 0 0"/>
      <geometry>
        <box size="0.5 0.5 0.5"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.25" rpy="0 0 0"/>
      <geometry>
        <box size="0.5 0.5 0.5"/>
      </geometry>
    </collision>
  </link>

  <link name="camera_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>
  </link>

  <joint name="joint_name" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="camera_link"/>
    <axis xyz="0 0 1"/>
  </joint>

  <!-- World-Level Systems for Physics & Sensor Engines -->
  <gazebo>
    <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
      <render_engine>ogre2</render_engine>
    </plugin>
  </gazebo>

  <!-- Gazebo Camera Configuration on base_link -->
  <gazebo reference="base_link">
    <sensor name="cube_camera" type="camera">
      <pose>0.25 0 0.4 0 0 0</pose> <!-- Front facing, near top edge -->
      <always_on>true</always_on>
      <update_rate>30.0</update_rate>
      <visualize>true</visualize>
      <topic>/cube/camera/image_raw</topic>
      <camera name="main_cam">
        <horizontal_fov>1.211</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>100.0</far>
        </clip>
      </camera>
    </sensor>
  </gazebo>

  <gazebo reference="camera_link">
    <sensor name="cube_cam" type="camera">
      <pose>0.25 0 0.4 0 0 0</pose> <!-- Front facing, near top edge -->
      <always_on>true</always_on>
      <update_rate>30.0</update_rate>
      <visualize>true</visualize>
      <topic>/cube/camera_2/image_raw</topic>
      <camera_info_topic>camera/camera_info</camera_info_topic>
      <camera name="main_cam">
        <horizontal_fov>1.211</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>100.0</far>
        </clip>
      </camera>
    </sensor>
  </gazebo>

</robot>
